#chartdiv {
    height: 600px;
    width:  900px;
    float: left;
}

.data {
    float: left;
    background-color: white;
    opacity: 0.85;
}

td.unit {
    font-weight: bold;
}

table#foo {
    font-size: smaller;
    color: #545454;
}
